.double {
	&-block {
		display: flex;
		flex-direction: column;
		&__row-1 {
			margin-bottom: 1px;
		}
		&__row-1,
		&__row-2 {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			padding-bottom: 75%;
		}
	}
}
