@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-slide {
	height: 150px;
}

.slick-slide img {
	height: 170px;
}

.slick-slider {
	width: 100%;
	//margin: 0 auto;
}

.slick-prev {
	z-index: 10;
	left: 0;
}
.slick-next {
	z-index: 10;
	right: 25px;
}

.slick-prev:before,
.slick-next:before {
	font-size: 45px;
	opacity: 1;
}
