@import "~react-image-gallery/styles/scss/image-gallery.scss";

.about-repair {
  max-width: 820px;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
  }

  &__description {
    margin: 10px 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

  }
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(85vh - 80px);
}

@media screen and(max-width: 600px) {
  .about-repair {
    width: 95%;
  }
}