.price-info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 98%;

  //justify-content: space-evenly;
}
@media screen and(min-width: 1920px) {
  .price-info-wrapper{
    width: 99%;
  }
}
@media screen and(max-width: 600px) {
  .price-info-wrapper {
    width: 95%;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }
}