@import 'src/variables';

.price-info {
	border: 1px solid white;
	display: flex;
	border-radius: 5px 5px 0 0;
	flex-direction: column;
	align-items: center;
	//padding: 15px 0;
	&-main {
		display: flex;
		flex-direction: column;
		//padding-left:5%;
		margin-bottom: 10px;
		min-width: 260px;
	}

	&__title {
		width: 100%;
		border-bottom: 1px solid black;
		display: flex;
		justify-content: center;
		padding: 10px;
		//background: #fff;
		//color: #000;
	}

	&__num {
		display: flex;
		color: rgba(255, 221, 186, 1);
		padding: 11px;

		span {
			padding-left: 7px;
			color: $gold-color;
		}
	}
}

.more-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	&-item {
		width: 100%;
		padding: 17px 0 16px 0;
		border: 1px solid white;
		border-top: none;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	&__square {
		white-space: nowrap;
	}
}
@media screen and(max-width: 1024px) {
	.price-info-main {
		width: 49% !important;
	}
}
@media screen and(max-width: 600px) {
	.price-info-main {
		width: 100% !important;
	}
}

//
//@media screen and(min-width: 1920px) {
//  .price-info {
//    min-width: 268px;
//    background: rgba(255, 255, 255, 1);
//    border-bottom: 1px solid black;
//
//    &__title {
//      //padding: 10px 0;
//      background: #fff;
//      color: #000;
//      padding: 10px 20px;
//
//    }
//
//    &__num {
//      padding: 20px 0;
//
//    }
//
//    //&-main{
//    //  width: 23%;
//    //}
//    &__price, &__num {
//
//      span {
//        background: rgba(255, 255, 255, 1);
//        color: black;
//      }
//
//      background: rgba(255, 255, 255, 1);
//      color: black;
//    }
//  }
//  .more-info {
//    &__square, &__price {
//      background: rgba(255, 255, 255, 1);
//      color: black
//    }
//
//    &-item {
//      background: rgba(255, 255, 255, 1);
//
//    }
//  }
//
//}
