.main-block {
  width: 100%;
  display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
}

.left-block {

  position: relative;
}

.right-block {
  position: relative;
}


.grid-wrapper {
  position: relative;
  height: fit-content;
  opacity: 1;
  display: grid;
  //grid-gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}


.img-wrapper {
  position: relative;

  div {
    width: 100%;
  }

  .top {
    display: flex;
  }

  .bottom {
    display: flex;
  }

  .small {
    width: 50% !important;
  }

  .adaptive {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 55%;
    margin-bottom: 6px;
    //margin-left: 5px;


    &-small {
      width: 98%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-bottom: 30.5%;
      margin-bottom: 6px;
      //margin-left: 5px;
    }
  }

  img {
    display: block;
    max-width: 98%;
    position: absolute;
    object-fit: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}


.block_info {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 0 0 40px 40px;
  display: none;

  &-country, &-square, &-title {
    background: rgba(0, 0, 0, 0);
  }

  &-title {
    font-size: 36px;
  }
}


.img-wrapper:hover {
  .block_info {
    display: flex;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    justify-content: flex-end;
  }
}


@media screen and(max-width: 600px) {
  .grid-wrapper {
    display: flex;
    flex-direction: column;
    width: 97%;
    margin: 0 auto;
  }
  .img-wrapper {
    .block_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: fit-content !important;
      background: rgba(0, 0, 0, 0.7);
      padding: 15px;

      &-country, &-square {
        font-size: 12px;
      }

      &-title {
        font-size: 16px;
      }
    }
  }
}